@import '/src/styles.scss';


.logo{
    width: 8rem;
}

#Inline{
    display: inline-flex;
}

#allStudents{
    margin-top: 20px;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 58, 58);
}

.formatacao01{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    background-color: #DBEDFF;
    color: #0069D1;
}

.formatacao02{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    display: inline-flex;
    background-color: #DBEDFF;
    color: #0069D1;
}

.espacamentoLeft{
    margin-left: 10px;
}

#End{
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

#EspacamentoTitulo{
    font-size: 27px;
    margin-bottom: 30px;
    color: #0069D1;
}

#EspacamentoTopDescription{
    margin-top: 30px;
    margin-bottom: 50px;
}

#EspacamentoTopImage{
    margin-top: 15px;
}