<pro-header></pro-header>

<div class="row mt-2 home">
    <div class="col-1"></div>
    <div class="col-10 p-4 user">
      <div class="d-flex justify-content-between">
        <div>
          <h4>Olá {{users[0].name}}</h4>
        </div>
        <div>
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </div>
      </div>
    </div>
</div>
<div class="row home">
  <div class="col-1"></div>
  <div class="container col-10 mt-4 mb-2 d-flex">
    <form (change)="filtrar()">
      <input [(ngModel)]="category" type="radio" name="categoria" class="btn-check"  id="todos" autocomplete="off" value="todos" checked>
      <label class="btn btn-outline-primary me-2" for="todos">Todos</label>

      <input [(ngModel)]="category" type="radio" name="categoria" class="btn-check" id="tecnologia" autocomplete="off" value="tecnologia">
      <label class="btn btn-outline-primary me-2" for="tecnologia">Tecnologia</label>

      <input [(ngModel)]="category" type="radio" name="categoria" class="btn-check" id="financas" autocomplete="off" value="financas">
      <label class="btn btn-outline-primary me-2" for="financas">Finanças</label>
      
      <input [(ngModel)]="category" type="radio" name="categoria" class="btn-check" id="idioma" autocomplete="off" value="idioma">
      <label class="btn btn-outline-primary me-2" for="idioma">Idioma</label>

      <input [(ngModel)]="category" type="radio" name="categoria" class="btn-check" id="marketing" autocomplete="off" value="marketing">
      <label class="btn btn-outline-primary me-2" for="marketing">Marketing</label>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="d-flex flex-wrap justify-content-center">
      <pro-item-training [item]="training" class="col-2 container card shadow m-1 p-1 " *ngFor="let training of filters"></pro-item-training>
    </div>
  </div>
</div>
