@import '/src/styles.scss';


.logo{
    width: 8rem;
}

#TitleModal{
    color: #0069D1;
    font-size: 30px;
}

#segundoTitulo{
    color: rgb(61, 58, 58);
    margin-bottom: 25px;
}

#colordefundo{
    background-color: #DBEDFF;
}

#formatacao{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#suspender{
    background-color: red;
    border: 0;
}


