<ng-template (ngModel)="(trainingModel)" #content let-c="close" let-d="dismiss">

  <!--Inicio modal suspensão -->

  <div class="modal fade" id="modalSuspend" aria-labelledby="suspend" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalSuspend_">Atenção!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Você esta prestes a suspender este curso. Deseja continuar mesmo assim?
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#modal" data-bs-toggle="modal" data-bs-dismiss="modal"
            aria-label="Cancel">Cancelar</button>
          <button class="btn btn-danger" data-bs-target="#modal" data-bs-toggle="modal" data-bs-dismiss="modal"
            aria-label="Confirm">Sim</button>
        </div>
      </div>
    </div>
  </div>

  <!--Fim modal suspensão -->

  <div id="End">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>

<div class="text-center">

    <h4>
      {{ trainingModel.title }}
    </h4>
    
    <hr id="Linehr">

</div>
  
  <div class="modal-body">
    <div class="text-center">

      <div>
        <img id="EspacamentoTopImage" class="w-50" src="{{ trainingModel.url }}" alt="" />
        <p id="EspacamentoTopDescription">{{ trainingModel.description }}</p>
      </div>
      
    </div>
  </div>

  <hr class="hr02">

<div class="text-center">

  <div id="Inline">

        <div class="formatacao01">
          <p>
            Cadastrados
          </p>
          <p class="espacamentoLeft">
            00
          </p>
        </div>
    
    
        <div class="formatacao02">
          <p>
            Em Curso
          </p>
          <p class="espacamentoLeft">
            00
          </p>
        </div>


        <div class="formatacao02">
          <p>
            Concluintes
          </p>
          <p class="espacamentoLeft">
            00
          </p>
        </div>
        
  </div>

</div>

<hr class="hr02">

  <div class="modal-footer">

    <button 
    type="button" 
    class="btn btn-primary" 
    id="suspender"
    (click)="suspendShow()"
    >
    Suspender
  </button>


    <button
      type="button"
      class="btn btn-success"
      (click)="isRegistered(trainingModel.id)"
    >
      Quero fazer este curso
    </button>
  </div>
</ng-template>

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <nav aria-label="breadcrumb">
        <p class="text-end"><a href="">&#171; voltar</a></p>
        <ol class="breadcrumb w-100">
          <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 d-flex home">
      <form (change)="filtrar()">
        <input
          [(ngModel)]="category"
          type="radio"
          name="categoria"
          class="btn-check"
          id="todos"
          autocomplete="off"
          value="todos"
          checked
        />
        <label class="btn btn-outline-primary m-1" for="todos">Todos</label>

        <input
          [(ngModel)]="category"
          type="radio"
          name="categoria"
          class="btn-check"
          id="tecnologia"
          autocomplete="off"
          value="tecnologia"
        />
        <label class="btn btn-outline-primary m-1" for="tecnologia"
          >Tecnologia</label
        >

        <input
          [(ngModel)]="category"
          type="radio"
          name="categoria"
          class="btn-check"
          id="financas"
          autocomplete="off"
          value="financas"
        />
        <label class="btn btn-outline-primary m-1" for="financas"
          >Finanças</label
        >

        <input
          [(ngModel)]="category"
          type="radio"
          name="categoria"
          class="btn-check"
          id="idioma"
          autocomplete="off"
          value="idioma"
        />
        <label class="btn btn-outline-primary m-1" for="idioma">Idioma</label>

        <input
          [(ngModel)]="category"
          type="radio"
          name="categoria"
          class="btn-check"
          id="marketing"
          autocomplete="off"
          value="marketing"
        />
        <label class="btn btn-outline-primary m-1" for="marketing"
          >Marketing</label
        >
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="d-flex flex-wrap justify-content-center">
        <pro-item-training
          [item]="training"
          class="col-md-2 m-2 mt-4"
          *ngFor="let training of filters | slice:(page-1) * pageSize : page * pageSize"
          (click)="openXl(content, training)"
        ></pro-item-training>
      </div>
    </div>
  </div>
</div>

<ngb-pagination *ngIf="filters.length > 20"
  class="d-flex justify-content-center"
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="filters.length">
</ngb-pagination>