@import "../user-auth.component.scss";

h1 {
  color: $azul-escuro;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.button {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  color: white;

  animation: 1s linear 30ms 1;

  &:hover {
    animation: 500ms linear 30ms 1;
    transition: filter 500ms;
    filter: brightness(90%);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.button-send-modal {
  background-color: $azul-escuro;
}

.button-cancel-modal {
  width: 120px;

  background-color: $vermelho;

  border-radius: 5px;
}

.button-send {
  font-size: 20px;
  border: none;
  background-color: $azul-escuro;

  cursor: pointer;

  &[disabled] {
    background-color: $azul-escuro;
  }
}
