<div class="container">
  <nav aria-label="breadcrumb">
      <p class="text-end"><a href="">&#171; voltar</a></p>
      <ol class="breadcrumb w-100">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Meus Cursos</li>
      </ol>
  </nav>
</div>
<div class="row home">
  <!-- <div class="col-1"></div> -->
  <div class="container col-10 mt-4 mb-2">
    <h4>Meus Cursos</h4>
  </div>
</div>
<div class="row home">
  <!-- <div class="col-1"></div> -->
  <div class="container col-10 mt-4 mb-2 d-flex">
         <form >
          <input [(ngModel)]="status" type="radio" name="status" class="btn-check"  id="todos" autocomplete="off" value="todos" checked>
          <label class="btn btn-outline-primary me-2" for="todos">Todos</label>
          <input [(ngModel)]="status" type="radio" name="status" class="btn-check" id="andamento" autocomplete="off" value="andamento">
          <label class="btn btn-outline-primary me-2" for="andamento">Andamento</label>
          <input [(ngModel)]="status" type="radio" name="status" class="btn-check" id="finalizado" autocomplete="off" value="finalizado">
          <label class="btn btn-outline-primary me-2" for="finalizado">Finalizado</label>
        </form>
      </div>
    </div>
