@import "../../../../../styles.scss";

.backgroundBlue {
  background-color: $azul-claro;
}

.backgroundWhite {
  background-color: $branco;
}
.btn-confirm {
  background-color: $verde;
  color: $branco;
}

.btn-cancel {
  background-color: $vermelho;
  color: $branco;
}
.btn-add {
  background-color: $azul-escuro;
  color: $branco;
}

.form {
  color: $azul-escuro;
}
​ .h4 {
  color: $azul-escuro;
}
.h4 {
  color: $azul-escuro;
}
