@import '/src/styles.scss';


.logo{
    width: 6rem;
    margin: 1rem;
}

ul li a{
    font-family: 'Poppins', sans-serif;
    color: $NDD-roxo;
    padding: 10px;
}

.active{
    background-color: $NDD-roxo!important;
    border-radius: 10px;
    padding: 10px;
    color: $branco !important;
}
