.progress {
  height: 0.5rem;
}
.modules {
  overflow: scroll;
  max-height: 50vh;
}
#tag {
  float: right;
  img {
    height: 2em;
  }
}
.card-video {
  cursor: pointer;
}
// .checkboxModules {
//   position: relative;
//   margin-left: 93%;
//   margin-top: 5%;
// }
