.logo{
    width: 8rem;
}

.Painel{
    height: 20rem;
}

.descricaoCurso{
    font-size: 12px;
    height: 10rem;
}

.cargaHoraria{
    font-size: 12px;
}

.imgCard{
    max-width: 100%;
    max-height: 8rem ;
}
.cardTraining{
    cursor: pointer;
    height: 24rem;
    width: 12rem
}


