@import "/src/styles.scss";
@import "../user-auth.component.scss";

div {
  font-family: 'Poppins', sans-serif;

  label {
    font-size: 20px;
    font-weight: 700;

    color: $azul-escuro;
    margin-bottom: 8px;
  }

  input {
    font-family: inherit;
    width: 92%;

    font-size: 18px;

    padding: 8px 0 15px 10px;

    border: 2px solid $azul-escuro;
    border-radius: 5px;

    &::placeholder {
      font-weight: 800;
      color: $azul-escuro;
      opacity: 0.2;
    }
  }
}
