<div class="input-container p-5">
  <h1 class="mb-5">Reset</h1>
  <form [formGroup]="form">
    <div class="form-group">

      <div class="container-anchor">
        <label for="password">Senha</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          minlength="8"
          required
        />
        <div
          *ngIf="form.controls['password'].dirty && form.controls['password'].invalid"
          class="container-absolute"
        >
          <div
            *ngIf="form.controls['password'].errors?.['required']"
            class="alert alert-danger"
          >
            Senha obrigatória.
          </div>
          <div
            *ngIf="form.controls['password'].errors?.['minlength']"
            class="alert alert-danger"
          >
            Mínimo 8 caracteres.
          </div>
          <div
            *ngIf="form.controls['password'].errors?.['pattern']"
            class="alert alert-danger"
          >
            Senha somente letras e/ou números.
          </div>
        </div>
      </div>


      <div class="container-anchor">
        <label for="confirm">Confirmar senha</label>
        <input
          type="password"
          id="confirm"
          class="form-control"
          formControlName="confirm"
          minlength="8"
          required
        />
        <div
          *ngIf="form.controls['confirm'].dirty && form.controls['confirm'].invalid"
          class="container-absolute"
        >
          <div
            *ngIf="form.controls['confirm'].errors?.['confirm']"
            class="alert alert-danger"
          >
            Confirmação obrigatória.
          </div>
          <div
            *ngIf="form.controls['confirm'].errors?.['minlength']"
            class="alert alert-danger"
          >
            Mínimo 8 caracteres.
          </div>
          <div
            *ngIf="form.controls['confirm'].errors?.['pattern']"
            class="alert alert-danger"
          >
            Senha somente letras e/ou números.
          </div>
        </div>
      </div>

      <br />

      <div>
        <button
          class="button button-send form-control"
          (click)="submitToken()"
          [disabled]="!form.valid"
          type="submit"
        >
          Entrar
        </button>
      </div>
    </div>
  </form>
</div>
