@import '/src/styles.scss';
@import '../../user-auth/user-auth.component.scss';

.title{
  color: $azul-escuro;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.button-photo{
  background-color: $azul-escuro;
}

.button-confirm{
  background-color: $verde;
}
