@import '/src/styles.scss';
@import '../../user-auth/user-auth.component.scss';

.title {
  color: $azul-escuro;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.button-photo {
  background-color: $azul-escuro;
  padding: 1px;
  margin-left: -12px;
  border-radius: 15%;
  width: 106.5%;
}

.button-confirm {
  font-size: 20px;
  background-color: $verde;

  &[disabled] {
    background-color: $verde;
  }
}


