<div class="container p-5">

  <div class="row mb-4 p-1"><h1 class="text-center title">Cadastro</h1></div>

  <div class="row">
    <div class="col text-start input-container2 p-0">
      <label for="name">Nome Completo</label><br><input type="text" class="form-control mb-2" id="name" placeholder="Seu nome">
    </div>
  </div>

  <div class="row input-container">
    <div class="col text-start input-container2 p-0">
      <label for="email">Email</label><input type="email" class="form-control mb-2" id="email" placeholder="Seu email">
    </div>
  </div>

  <div class="row">
    <div class="col-6 text-start p-0 input-container">
      <label for="age">Idade</label><input type="number" class="form-control mb-2" id="age" placeholder="Sua idade">
    </div>
    <div class="col-6 text-start p-0 input-container2">
      <label for="cpf">CPF</label><br><input type="text" class="form-control mb-2" id="cpf" placeholder="Seu CPF">
    </div>
  </div>

  <div class="row">
    <div class="col-6 p-0 input-container">
      <label for="password">Senha</label><br><input type="password" class="form-control mb-3" id="password" placeholder="Sua senha">
    </div>
    <div class="col-6 p-0 input-container2">
      <label for="confirm">Confirmar senha</label><br><input type="password" class="form-control mb-3" id="confirm-password" placeholder="Confirme a senha">
    </div>
  </div>

  <div class="row button-photo">
    <button class="submit form-control"><label for="botao">Inserir sua foto</label></button>
  </div>
  <div class="row button-confirm">
    <p class="text-center mt-3">Já possui cadastro ?
      <a href="https://grid.malven.co/" class="href">Entre aqui !</a>
    </p><br>
    <button class="submit bg-success form-control"><label for="botao">Confirmar</label></button>
  </div>

</div>
