<div class="container p-5 input-container">
  <form form="registrationForm">
      <div class="row mb-4 p-1"><h1 class="text-center title">Cadastro</h1></div>

      <div class="row">
        <div class="col text-start p-0">
          <label for="name">Nome Completo</label><br><input minlenght="3" required="true" type="text" class="form-control mb-2" id="name" placeholder="Seu nome">
        </div>
      </div>

      <div class="row">
        <div class="col text-start p-0">
          <label for="email">Email</label><input required="true" type="email" class="form-control mb-2" id="email" placeholder="Seu email">
        </div>
      </div>

      <div class="row gap-3">
        <div class="col-sm text-start p-0">
          <label for="age">Idade</label><input required="true" type="number" class="form-control mb-2" id="age" placeholder="Sua idade">
        </div>
        <div class="col-sm text-start p-0">
          <label for="cpf">CPF</label><br><input required="true" type="text" class="form-control mb-2" id="cpf" placeholder="Seu CPF">
        </div>
      </div>

      <div class="row gap-3">
        <div class="col-sm p-0">
          <label for="password">Senha</label><br><input minlength="8" required="true" type="password" class="form-control mb-3" id="password" placeholder="Sua senha">
        </div>
        <div class="col-sm p-0">
          <label for="confirm">Confirmar senha</label><br><input minlenght="8" required="true" type="password" class="form-control mb-3" id="confirm-password" placeholder="Confirme a senha">
        </div>
      </div>

      <div class="row">
        <button class="form-control button-photo" type="submit"><label for="botao" class="text-white">Inserir sua foto</label></button>
      </div>
      <div class="row">
        <p class="text-center mt-3">Já possui cadastro ?
          <a [routerLink]="['/login']" class="href">Entre aqui !</a>
        </p><br>
        <button type="submit" form="registrationForm" class="form-control button-confirm"><label for="button" class="text-white">Confirmar</label></button>
      </div>
  </form>
</div>
