<!--Inicio modal suspensão -->
<div class="modal fade" id="modalSuspend" aria-labelledby="suspend" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalSuspend_">Atenção!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Você esta prestes a suspender este curso. Deseja continuar mesmo assim?
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#modal" data-bs-toggle="modal" data-bs-dismiss="modal"
            aria-label="Cancel">Cancelar</button>
          <button class="btn btn-danger" data-bs-target="#modal" data-bs-toggle="modal" data-bs-dismiss="modal"
            aria-label="Confirm">Sim</button>
        </div>
      </div>
    </div>
  </div>
<!--Fim modal suspensão -->

<div class="card shadow cardTraining">
    <div (click)="selectTraining(item)">
        <img src="{{ item.url }}" class="card-img-top imgCard" alt="...">
        <div class="card-body padding">
          <h6 class="card-title ">{{ item.title }}</h6>
          <div ><img id='imgFinalizado' src="https://img.icons8.com/color/48/000000/approval--v1.png"/></div>
          <p class="card-text descricaoCurso overflow-hidden padding">{{ item.description }}</p>
        </div>
        <div class="text-center">
            <p class="cargaHoraria ">Professor: {{ item.teacher }}</p>  
            <p class="cargaHoraria ">Carga Horária: {{ formatarDuracao(item.duration) }} horas</p>  
        </div>
    </div>
    <div class="text-center mb-3">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="suspendTraining()">Suspender</button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeTraining()">Remover</button>
    </div>
</div>