.logo{
    width: 8rem;
}

.descricaoCurso{
    font-size: 12px;
    height: 8rem;
}

.cargaHoraria{
    font-size: 12px;
}

.imgCard{
    max-width: 100%;
    height: 8rem;
}

.cardTraining{
    cursor: pointer;
    height: 28rem;
    width: 12rem;
}


