<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <nav aria-label="breadcrumb">
        <p class="text-end"><a href="">&#171; voltar</a></p>
        <ol class="breadcrumb w-100">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Cadastro de treinamentos
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<pro-item-register-training></pro-item-register-training>
