@import '/src/styles.scss';

.home{
    margin-left: 5rem;
    margin-right: 5rem;
    .user{
        background-color: $azul-claro;
    }
}
.logo{
    width: 8rem;
}

.Painel{
    height: 20rem;
}

.descricaoCurso{
    font-size: 12px;
}

.imgCard{
    width: 5rem;
    height: 5rem;
}