/* You can add global styles to this file, and also import other style files */
$azul-claro: #DBEDFF;
$azul-escuro: #0069D1;
$verde: #04932C;
$vermelho: #BA4040;
$branco: white;

$NDD-roxo: #5600FE;
$NDD-rosa: #EB008B;
$NDD-ciano: #1EE9CC;

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

